
<mat-card class="item-details">
  <mat-card-header>
    <mat-card-title>{{(selectedItem | async).title | uppercase}} Details</mat-card-title>
  </mat-card-header>
  <img class="" mat-card-image src={{(selectedItem|async).imgPath}} alt="img">
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">Title: <b>{{(selectedItem | async).title}}</b></div>
      <div class="col-sm-12 col-md-6 col-lg-6">Prize: <b>{{(selectedItem | async).prize}}</b></div>
   </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addToCart()">Add To Cart</button>&nbsp;
    <a routerLink="/cart"><button mat-raised-button color="primary">Show Cart Items</button></a>
    <button mat-raised-button color="primary" (click)="goBack()">go back</button>
  </mat-card-actions>
</mat-card>

<p [appIfprivileged]="cart">show this information only if user is privileged</p>
